flows.json
[
    {
        "id": "52d0fde2bba6f1e8",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca882a5531e88698",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "cf7f9756204a3625",
        "type": "ui_gauge",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "81d61635214c302f",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "compass",
        "title": "Temperature",
        "label": "'C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "0dab94c3065ca7e0",
        "type": "mqtt in",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "topic": "Temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "06d9e36d9ecf6410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "cf7f9756204a3625",
                "ca882a5531e88698",
                "13cc09f578f24615",
                "f2f9e21485314fdd"
            ]
        ]
    },
    {
        "id": "1131a9397a4decba",
        "type": "ui_button",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "38e1c51f347715cb",
        "order": 5,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "LED-ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 80,
        "wires": [
            [
                "b4719f001e4045ea",
                "6a1cd7def25dcd35",
                "5fad78c4dbe8835b",
                "f9b8276e4a83066a"
            ]
        ]
    },
    {
        "id": "7d9db3b9a9ee7ea9",
        "type": "ui_button",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "38e1c51f347715cb",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "LED-OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 140,
        "wires": [
            [
                "b4719f001e4045ea",
                "6a1cd7def25dcd35",
                "5fad78c4dbe8835b",
                "f9b8276e4a83066a"
            ]
        ]
    },
    {
        "id": "b4719f001e4045ea",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 60,
        "wires": []
    },
    {
        "id": "6a1cd7def25dcd35",
        "type": "mqtt out",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "topic": "Light",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "06d9e36d9ecf6410",
        "x": 1230,
        "y": 180,
        "wires": []
    },
    {
        "id": "45b298fbb36c4bb5",
        "type": "ui_gauge",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "81d61635214c302f",
        "order": 12,
        "width": 5,
        "height": 4,
        "gtype": "compass",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 280,
        "wires": []
    },
    {
        "id": "df28fe1c43ab2a28",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "0f421daee4a6015b",
        "type": "mqtt in",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "topic": "Humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "06d9e36d9ecf6410",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 220,
        "wires": [
            [
                "45b298fbb36c4bb5",
                "df28fe1c43ab2a28",
                "12e340e3db57bb1f",
                "8301fdb4ac33eebc"
            ]
        ]
    },
    {
        "id": "13cc09f578f24615",
        "type": "ui_chart",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "81d61635214c302f",
        "order": 4,
        "width": 5,
        "height": 4,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "12e340e3db57bb1f",
        "type": "ui_chart",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "group": "81d61635214c302f",
        "order": 14,
        "width": 5,
        "height": 4,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f2f9e21485314fdd",
        "type": "firebase modify",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "firebaseconfig": "",
        "childpath": "Weather/Temperature",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 440,
        "y": 360,
        "wires": [
            [
                "3afdfb2dd24cd299"
            ]
        ]
    },
    {
        "id": "3afdfb2dd24cd299",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 360,
        "wires": []
    },
    {
        "id": "8301fdb4ac33eebc",
        "type": "firebase modify",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "firebaseconfig": "",
        "childpath": "Weather/Humidity",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 430,
        "y": 420,
        "wires": [
            [
                "9b5cd7342e94ff34"
            ]
        ]
    },
    {
        "id": "9b5cd7342e94ff34",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "5fad78c4dbe8835b",
        "type": "ui_widget_bulb_basic",
        "z": "52d0fde2bba6f1e8",
        "group": "38e1c51f347715cb",
        "order": 9,
        "width": 9,
        "height": 5,
        "name": "LAMP",
        "title": "Kitchen",
        "color": "#ffffff",
        "scale": "normal",
        "x": 1230,
        "y": 120,
        "wires": []
    },
    {
        "id": "f9b8276e4a83066a",
        "type": "firebase modify",
        "z": "52d0fde2bba6f1e8",
        "name": "",
        "firebaseconfig": "",
        "childpath": "LED/status",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "97dc684ce59d406c"
            ]
        ]
    },
    {
        "id": "97dc684ce59d406c",
        "type": "debug",
        "z": "52d0fde2bba6f1e8",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 260,
        "wires": []
    },
    {
        "id": "aa6faad119b2df15",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0e03199e788aabe",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "d58853d6ba4639b3",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cb11286a2e5c543",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "6f8c8e13e49a7047",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "2e0eaba9e6355704",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 8,
        "width": 3,
        "height": 1
    },
    {
        "id": "731d34ac40690364",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "23020a19056b6c24",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "6a0348f9cd3ceef9",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "f266f882b0a37d05",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 13,
        "width": 3,
        "height": 1
    },
    {
        "id": "4135e920cb84e171",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "d0f12fcf6851cf2c",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "9681c2c1aacce9c1",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "744db69233b87984",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "3517cb4e5623cf1d",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a3b62ec05335014",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "81d61635214c302f",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "4259b083d8134364",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 1,
        "width": 14,
        "height": 1
    },
    {
        "id": "034a394b7281b7f3",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "6f6199a7e3819e84",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "70e679f110e0dc42",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "e4ddbb53b033217d",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 7,
        "width": 14,
        "height": 1
    },
    {
        "id": "698acab853e3625a",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "cb7e27e9c909082d",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "bd5da3b678c104ec",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "bc1a43e0625724ed",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "83f11a6161f21634",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "4ecd4f044fb95b83",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "3099df75add2ec92",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "075f3847b845c3a0",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "ab6dc6589d9bd942",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 17,
        "width": 2,
        "height": 1
    },
    {
        "id": "59da046e983f1d21",
        "type": "ui_spacer",
        "z": "52d0fde2bba6f1e8",
        "name": "spacer",
        "group": "38e1c51f347715cb",
        "order": 18,
        "width": 3,
        "height": 1
    },
    {
        "id": "81d61635214c302f",
        "type": "ui_group",
        "name": "DHT Readings",
        "tab": "21ab1d125cb0e338",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "06d9e36d9ecf6410",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "38e1c51f347715cb",
        "type": "ui_group",
        "name": "Light Control",
        "tab": "21ab1d125cb0e338",
        "order": 2,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "21ab1d125cb0e338",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]